<h1>Welcome</h1>

<form action="/users/sign_up" method="post">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Sign up">
</form>

<form action="/users/login" method="post">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Log in">
</form>